*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.778);
}

.file{
    padding: 20px;
}

.file h2{
    padding: 20px 0;
}
.file p{
    width: 80%;
    font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    padding: 10px;
    background-color: gray;
    margin: 20px;
    text-decoration: none;
    color: royalblue;
}
