*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(to right,black,  gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 30px 10px;
    border-bottom: 2px solid white;
}

form button{
    background-color: royalblue;
    padding: 10px;
    border-radius: 20px;
}

form input{
    height: 30px;
    border-radius: 5px;
    color: black;
}

form textarea{
    border-radius: 5px;
    color: black;
}

.tasks{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 60%;
    border-radius: 2px solid white;
    /* background-color: aquamarine; */
}


.tasks .task{
    background-color: rgb(238, 130, 130);
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    && a{
        color: blue;
        text-decoration: dotted;
    }
}

.task button{
    padding: 5px;
    border-radius: 5pc;
    color: antiquewhite;
    background-color: black;
}

.task .oneLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}