<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Courier New', Courier, monospace;
        }
        html,body{
            width: 100%;
            height: 100%;
            color: whitesmoke;
            background-color: black;
        }
        section{
            margin: 1rem;
            padding: 1rem;
            border: 3px solid whitesmoke;
        }
        h2{
            margin-bottom: 1rem;
        }
        form input{
            border-radius: 5px;
            padding: 0.3rem;
        }
        form button{
            padding: 0.3rem;
            background-color: red;
            border: none;
            border-radius: 20px;
            color: whitesmoke;
        }
        #login button{
            background-color: royalblue;
        }
        #signup button{
            background-color: red;
        }
        #signup button:active{
            scale: 0.95;
        }


    </style>
</head>
<body>
    <main>
        <section id="signup">
            <h2>Sign-Up</h2>
            <form action="/signup" method="post">
                <input type="text" placeholder="name..." name="username">
                <input type="email" placeholder="email..." name="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit">Submit</button>
            </form>
        </section>
        <section id="login">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <input type="email" placeholder="email..." name="email" required>
                <input type="password" name="password" placeholder="password" required>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>